<div id="app" class="flex justify-center">
  <div class="w-1/2">
    <div class="flow-root mt-6">
      <ul class="-my-5 divide-y divide-gray-200">
        <li v-for="post in posts" class="py-5">
          <div class="relative focus-within:ring-2 focus-within:ring-indigo-500">
            <h3 class="text-sm font-semibold text-gray-800">
              <a href="#" class="hover:underline focus:outline-none">
                <!-- Extend touch target to entire panel -->
                <span class="absolute inset-0" aria-hidden="true"></span>
                {{post.title}}
              </a>
            </h3>
            <p class="mt-1 text-sm text-gray-600 line-clamp-2">
              <a :href="post.link" target="_blank">{{post.link}}</a>
            </p>
          </div>
        </li>

      </ul>
    </div>
    <div class="mt-6">
      <a href="#" class="w-full flex justify-center items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50">
        View more
      </a>
    </div>
  </div>

<script>
  const app = new Vue({
    el: '#app',
    data() {
      return {
        posts: [],
      }
    },
    mounted: function(){
      this.fetchPosts();
    },
    methods: {
      fetchPosts(){
        const _t = this;
        $.get('/api/posts', (res) => {
          _t.posts = res.posts;
        })
      },
    }
  })
</script>
